<h1>Eat-Da-Burger</h1>

<img class="img" src="../assets/img/burger.png" alt="burger" width="250" height="250">

<div id="container">
    <h2 id="devour">To Be Devoured</h2>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <p class="not-devoured">
            {{burger_name}}
            <button class="devour" data-id="{{id}}">Devour it!</button>
        </p>
        {{/unless}}
        {{/each}}
    </ul>

    <h2 id="devoured">Devoured</h2>
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        <p class="devoured">
            {{burger_name}}
        </p>
        {{/if}}
        {{/each}}
    </ul>
</div>

<form class="addBurger">
    <label for="burger-name">Add a burger:</label>
    <input type="text" id="burger-name">
    <button class="add" type="submit">Enter</button>
</form>